{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carga de Datos - Grupo BIA</title>
    <link rel="stylesheet" href="{% static 'css/styles-carg.css' %}">
</head>
<body>
    <div class="container">
        <h2>Cargar archivo Excel</h2>

        <div>
            Hola, <strong>{{ user.username }}</strong>
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Subir archivo</button>
        </form>

        {% if mensaje %}
            <div class="mensaje">{{ mensaje }}</div>
        {% endif %}

        <form action="{% url 'logout' %}" method="post" style="margin: 0;">
        {% csrf_token %}
        <button type="submit" style="background: none; border: none; color: #0a4d8c; text-decoration: underline; cursor: pointer;">
            Cerrar sesión
        </button>
        </form>
    </div>
</body>
</html>

